<!DOCTYPE html> 
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dalo</title>
  <link rel="stylesheet" href="/styles/create-events.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="/scripts/header.js"></script>
  <script src="/scripts/footer.js"></script>
  <script src="/scripts/create-events.js" defer></script>
</head>
<body>
  <header>
    <div id="header"></div>
  </header>

  <div class="event_info">
    <div class="illustration_container">
      <div class="illustration">
        <div class="illustration_color">
          <input type="file" id="imageUpload" accept="image/*" style="display: none;" />
        </div>
      </div>
    
      <div class="illustration_controls">
        <button class="switch_color_button">Switch Color</button>
        <button class="upload_button">Upload Photo</button>
      </div>
    </div>
    

    <div class="event_details">
      <form id="eventForm">
        <div class="event_name-wrapper">
          <h1 class="event_name" contenteditable="true" name="event-name">Event Name</h1>
        </div>

        <div class="event_date">
          <div class="event_start">
            <div class="date_label">
              <h3 class="start-label">Start</h3>
            </div>
            <div class="date-time-input">
              <input type="date" id="start-date" class="date-input" name="start-date" />
              <input type="time" id="start-time" class="time-input" name="start-time" step="600" />
            </div>
          </div>

          <div class="event_end">
            <div class="date_label">
              <h3 class="end-label">End</h3>
            </div>
            <div class="date-time-input">
              <input type="date" id="end-date" class="date-input" name="end-date" />
              <input type="time" id="end-time" class="time-input" name="end-time" step="600" />
            </div>
          </div>
        </div>

        <div class="event_location" onclick="openLocationModal()">
          <h3> Event Location</h3>
          <p>Offline location or virtual link</p>
        </div>

        <div id="locationModal" class="modal">
          <div class="modal-content">
            <span class="close" onclick="closeLocationModal()">&times;</span>
            <h2>Add Event Location</h2>
            <input type="text" id="locationText" name="event-location" placeholder="Enter event location...">
            <button type="button" onclick="saveLocation()">Save</button>
          </div>
        </div>

        <div class="event_description" onclick="openDescriptionModal()">
          <h3>Description</h3>
          <p>Add description here</p>
        </div>

        <div id="descriptionModal" class="modal">
          <div class="modal-content">
            <span class="close" onclick="closeDescriptionModal()">&times;</span>
            <h2>Add Event Description</h2>
            <textarea id="descriptionText" name="event-description" placeholder="Type your event description here..."></textarea>
            <button type="button" onclick="saveDescription()">Save</button>
          </div>
        </div>

        <div class="event_feedback" onclick="openFeedbackModal()">
          <h3>Feedback Link:</h3>
          <p>Click to add feedback link</p>
        </div>

        <div id="feedbackModal" class="modal">
          <div class="modal-content">
            <span class="close" onclick="closeFeedbackModal()">&times;</span>
            <h2>Add Feedback Link</h2>
            <input type="text" id="feedbackLinkText" name="event-feedback" placeholder="Enter feedback link...">
            <button type="button" onclick="saveFeedback()">Save</button>
          </div>
        </div>

        <div class="event_option">
          <h3>Event Options</h3>
        </div>

        <div class="event_approval">
          <div class="event_approval_capacity">
            <h3>Require Approval</h3>
            <div class="toggle-wrapper">
              <label class="toggle-label">
                <input type="checkbox" id="require-approval" class="toggle-input" name="require-approval" />
                <span class="toggle-slider"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="event_capacity" onclick="openCapacityModal()">
          <h3>Max Capacity</h3>
          <p>Click to set the maximum capacity for your event.</p>
        </div>
      
        <div id="capacityModal" class="modal">
          <div class="modal-content">
            <span class="close" onclick="closeCapacityModal()">&times;</span>
            <h2>Max Capacity</h2>

            <label for="capacityInput">Max Capacity:</label>
            <input type="number" id="capacityInput" name="event-capacity" placeholder="Enter max capacity" /> 

            <div class="event_approval_capacity">
              <label for="waitlistToggle">Over-Capacity Waitlist</label>
              <div class="toggle-wrapper">
                <label class="toggle-label">
                  <input type="checkbox" id="waitlistToggle" class="toggle-input" name="waitlist-toggle" />
                  <span class="toggle-slider"></span>
                </label>
              </div>
            </div>

            <button type="button" onclick="saveCapacity()">Set Limit</button>
          </div>
        </div>

        <div class="create_event_button">
            <h2>Create Event</h2>
          </button>
        </div>
      </form>
    </div>  
  </div>

  <footer>
    <div id="footer"></div>
  </footer>
</body>
</html>
