<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dalo</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/styles/events.css">
    <link rel="icon" href="/assets/icons/favicon.ico" type="image/x-icon">
    <script src="/scripts/footer.js"></script>
    <script src="/scripts/header.js"></script>
    <script src="/scripts/footer.js"></script>
</head>

<body>
  <header>
    <div id="header"></div>
  </header>

  <div class="event-section">
    <div class="event-header">
      <h1>Events</h1>
      <div class="toggle-buttons">
        <button class="active">Upcoming</button>
        <button>Past</button>
      </div>
    </div>

    <div class="event-group" data-date="2025-05-20">
      <div class="event-date">
        <strong>May 20</strong>
        <span class="weekday">Tuesday</span>
      </div>
      <div class="event-cards" onclick="openPopup()" style="background-color: #a3c8e1; border-radius: 1rem;">
        <div class="event-card">
          <div class="event-info">
            <div class="event-time">4:00 PM</div>
            <div class="event-title">
              PURE VENOM: The After Party
            </div>
            <div class="event-meta">
              <span><img src="/assets/icons/profile-icon.jpeg" alt="Profile">Bethany Laurente, Janelle Barreto, Web3 Philippines <br><br></span>
              <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M2 6.854C2 11.02 7.04 15 8 15s6-3.98 6-8.146C14 3.621 11.314 1 8 1S2 3.62 2 6.854"></path><path d="M9.5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"></path></g></svg> Xylo at The Palace</span>
            </div>
            <div class="event-status going">Going</div>
          </div>
          <img class="event-thumbnail"
            src="/assets/images/clubbing-event.jpg"
            alt="Event Thumbnail" />
        </div>
      </div>
    </div>


    <div class="event-group" data-date="2025-05-10">
      <div class="event-date">
        <strong>May 10</strong>
        <span class="weekday">Saturday</span>
      </div>
      <div class="event-cards" onclick="openPopup()" style="background-color: #f4b0b0; border-radius: 1rem;">
        <div class="event-card">
          <div class="event-info">
            <div class="event-time">4:00 PM</div>
            <div class="event-title">
              Estrange Bond
            </div>
                       <div class="event-meta">
              <span><img src="/assets/icons/profile-icon.jpeg" alt="Profile">Bethany Laurente, Janelle Barreto, Web3 Philippines <br><br></span>
              <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M2 6.854C2 11.02 7.04 15 8 15s6-3.98 6-8.146C14 3.621 11.314 1 8 1S2 3.62 2 6.854"></path><path d="M9.5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"></path></g></svg>Sampaloc, Manila</span>
            </div>
            <div class="event-status pending">Pending</div>
          </div>
          <img class="event-thumbnail"
            src="/assets/images/art-event.svg"
            alt="Event Thumbnail" />
        </div>
      </div>
    </div>
    
    
    <div class="event-group" data-date="2025-05-23">
      <div class="event-date">
        <strong>May 23</strong>
         <span class="weekday">Friday</span>
      </div>
      <div class="event-cards" onclick="openPopup()" style="background-color: #a1e1a1; border-radius: 1rem;">
        <div class="event-card">
          <div class="event-info">
            <div class="event-time">4:00 PM</div>
            <div class="event-title">
              Apple Worldwide Developers Conference 2025
            </div>
                        <div class="event-meta">
              <span><img src="../assets/icons/profile-icon.jpeg" alt="Profile">Bethany Laurente, Janelle Barreto, Web3 Philippines <br><br></span>
              <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M2 6.854C2 11.02 7.04 15 8 15s6-3.98 6-8.146C14 3.621 11.314 1 8 1S2 3.62 2 6.854"></path><path d="M9.5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"></path></g></svg>BGC, Taguig</span>
            </div>
            <div class="event-status going">Going</div>
          </div>
          <img class="event-thumbnail"
            src="../assets/images/business-event.jpg"
            alt="Event Thumbnail" />
        </div>
      </div>
    </div>

    
    <div class="event-group" data-date="2025-05-24">
      <div class="event-date">
        <strong>May 24</strong>
        <span class="weekday">Saturday</span>
      </div>
      <div class="event-cards" onclick="openPopup()" style="background-color: #a1e0d1; border-radius: 1rem;">
        <div class="event-card">
          <div class="event-info">
            <div class="event-time">4:00 PM</div>
            <div class="event-title">
              Last Trace Of Us
            </div>
                        <div class="event-meta">
              <span><img src="../assets/icons/profile-icon.jpeg" alt="Profile">Bethany Laurente, Janelle Barreto, Web3 Philippines <br><br></span>
              <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M2 6.854C2 11.02 7.04 15 8 15s6-3.98 6-8.146C14 3.621 11.314 1 8 1S2 3.62 2 6.854"></path><path d="M9.5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"></path></g></svg>Resorts World Manila</span>
            </div>
            <div class="event-status pending">Pending</div>
          </div>
          <img class="event-thumbnail"
            src="../assets/images/outreach-event.jpg"
            alt="Event Thumbnail" />
        </div>
      </div>
    </div>

    
    <div class="event-group" data-date="2025-05-01">
      <div class="event-date">
        <strong>May 01</strong>
         <span class="weekday">Thursday</span>
      </div>
      <div class="event-cards" onclick="openPopup()" style="background-color: #e4a1b3; border-radius: 1rem;">
        <div class="event-card">
          <div class="event-info">
            <div class="event-time">4:00 PM</div>
            <div class="event-title">
              Urban Decay
            </div>
                        <div class="event-meta">
              <span><img src="../assets/icons/profile-icon.jpeg" alt="Profile">Bethany Laurente, Janelle Barreto, Web3 Philippines <br><br></span>
              <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M2 6.854C2 11.02 7.04 15 8 15s6-3.98 6-8.146C14 3.621 11.314 1 8 1S2 3.62 2 6.854"></path><path d="M9.5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"></path></g></svg>Solaire, North Edsa</span>
            </div>
            <div class="event-status going">Going</div>
          </div>
          <img class="event-thumbnail"
            src="../assets/images/tech-event.avif"
            alt="Event Thumbnail" />
        </div>
      </div>
    </div>

    
    <div class="event-group" data-date="2025-05-02">
      <div class="event-date">
        <strong>May 02</strong>
        <span class="weekday">Friday</span>
      </div>
      <div class="event-cards" onclick="openPopup()" style="background-color: #c49bdf; border-radius: 1rem;" >
        <div class="event-card">
          <div class="event-info">
            <div class="event-time">4:00 PM</div>
            <div class="event-title">
              The Migration
            </div>
                        <div class="event-meta">
              <span><img src="../assets/icons/profile-icon.jpeg" alt="Profile">Bethany Laurente, Janelle Barreto, Web3 Philippines <br><br></span>
              <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M2 6.854C2 11.02 7.04 15 8 15s6-3.98 6-8.146C14 3.621 11.314 1 8 1S2 3.62 2 6.854"></path><path d="M9.5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"></path></g></svg>National University, Manila</span>
            </div>
            <div class="event-status pending">Pending</div>
          </div>
          <img class="event-thumbnail"
            src="../assets/images/entertainment-event.jpg"
            alt="Event Thumbnail" />
        </div>
      </div>
    </div>

    <div class="event-group" data-date="2025-05-21">
      <div class="event-date">
        <strong>May 21</strong>
         <span class="weekday">Wednesday</span>
      </div>
      <div class="event-cards" style="background-color: #e4d0a7; border-radius: 1rem;" >
        <div class="event-card">
          <div class="event-info">
            <div class="event-time">9:00 AM</div>
            <div class="event-title">Crypto Vision Conference 2025 – Philippines</div>
                        <div class="event-meta">
              <span><img src="../assets/icons/profile-icon.jpeg" alt="Profile">Bethany Laurente, Janelle Barreto, Web3 Philippines <br><br></span>
              <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M2 6.854C2 11.02 7.04 15 8 15s6-3.98 6-8.146C14 3.621 11.314 1 8 1S2 3.62 2 6.854"></path><path d="M9.5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"></path></g></svg> Xylo at The Palace</span>
            </div>
            <div class="event-status pending">Pending</div>
          </div>
          <img class="event-thumbnail"
            src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2018/12/Gradient_builder_2.jpg?auto=format&q=60&w=1815&h=1815&fit=crop&crop=faces"
            alt="Event Thumbnail" />
        </div>
      </div>
    </div>
  </div>

  <div class="overlay" id="popupOverlay" role="dialog" aria-modal="true" aria-labelledby="eventTitle"
    aria-describedby="eventDesc">
    <article class="card-popup">
      <button class="close-btn" aria-label="Close popup" onclick="closePopup()">&times;</button>

      <div class="card-content">
        <span class="event-date">May 11, 2025</span>
        <h2 class="popup-event-title" id="eventTitle">PURE VENOM: The After Party</h2>
        <p class="event-description" id="eventDesc">
          Celebrate the grand finale of the Philippine Blockchain Week's PBWx 2024 at the PURE VENOM After Party.
          With DJ Xander and Bandit spinning the hottest beats, this is the perfect night to let loose.
          Free entry, food, and drinks sponsored by Venom Foundation U.A.E.
        </p>
        <p class="event-location">Location: Xylo at The Palace</p>
        <button class="register-btn">You're going!</button>
      </div>
    </article>
  </div>

  <footer>
    <div id="footer"></div>
  </footer>

  <script src="../scripts/events.js"></script>

</body>

</html>