<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dalo</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" /> 
  <link rel="stylesheet" href="/styles/alert-toast.css">
  <link rel="stylesheet" href="/styles/preloader.css">
  <link rel="stylesheet" href="/styles/preloader.css">
  <link rel="stylesheet" href="/styles/events.css">
  
  <link rel="icon" href="/assets/icons/favicon.ico" type="image/x-icon">

</head>

<body class="loading">
 
   

<div id="preloader">

</div>


  <header>
    <div id="header"></div>
  </header>

  <!-- TOAST -->
   <div class="toast-container" id="toastContainer"></div>

  <div class="event-section">
    <div class="event-header">
      <h1>Events</h1>
      <div class="toggle-buttons">
        <button class="active">Upcoming</button>
        <button>Past</button>
      </div>
    </div>

    <div class="no-events-wrapper" style="display: none;">
      <div class="no-events-content">
        <div class="no-events-text">
          <h2>No Events at the moment.</h2>
          <p>It looks like there aren't any events happening right now. But there's always something around the corner —
            hit Discover to see what's brewing in the Dalo community!</p>
          <button class="events-discover-button" onclick="window.location.href='/discover';">
            <svg class="nav-icon" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path fill="currentColor" fill-rule="evenodd"
                d="M2 7.997a5.997 5.997 0 1 1 11.995 0A5.997 5.997 0 0 1 2 7.997M7.997.5a7.497 7.497 0 1 0 0 14.995A7.497 7.497 0 0 0 7.997.5m3.323 5.084a.75.75 0 0 0-.91-.91l-3.548.888c-.64.16-1.14.66-1.3 1.3l-.888 3.549a.75.75 0 0 0 .91.91l3.548-.888c.64-.16 1.14-.66 1.3-1.3zM7.226 7.017l2.335-.584-.583 2.335a.29.29 0 0 1-.21.21l-2.335.584.584-2.336a.29.29 0 0 1 .21-.21">
              </path>
            </svg>
            <span class="shimmer-button-text" data-text="Discover">Discover</span>
            <span class="shimmer-events"></span>
          </button>
        </div>
      </div>
    </div>

    <!-- Event Cards handled within js -->
  </div>

  <div class="overlay" id="popupOverlay" role="dialog" aria-modal="true" aria-labelledby="eventTitle"
    aria-describedby="eventDesc">
    <!-- Handled within js -->
  </div>

  <footer>
    <div id="footer"></div>
  </footer>
  <script src="/scripts/preloader.js"></script>
<script src="/scripts/footer.js"></script>
<script src="/scripts/header.js"></script>
<script type="module" src="/scripts/events.js"></script>
<script type="module" src="/scripts/alert-toast.js"></script>



</body>

</html> 