<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dalo</title>
  <link rel="stylesheet" href="../public/styles/create-events.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="../scripts/header.js"></script>
  <script src="../scripts/footer.js"></script>
  <script src="../scripts/create-events.js"></script>
</head>
<body>
  <header>
    <div id="header"></div>
  </header>

  <div class="event_info">
    <div class="illustration">
        <div class="illustration_color">
        </div>
    </div>

    <div class="event_details">
      <div class="event_name-wrapper">
        <h1 class="event_name" contenteditable="true">Event Name</h1>
      </div>

      <div class="event_date">
        <div class="event_start">
          <div class="date_label">
            <h3 class="start-label">Start</h3>
          </div>
          <div class="date-time-input">
            <input type="date" id="start-date" class="date-input" />
            <input type="time" id="start-time" class="time-input" />
          </div>
        </div>

        <div class="event_end">
          <div class="date_label">
            <h3 class="end-label">End</h3>
          </div>
          <div class="date-time-input">
            <input type="date" id="end-date" class="date-input" />
            <input type="time" id="end-time" class="time-input" />
          </div>
        </div>
      </div>

      <div class="event_location">
        <h3>Add Event Location</h3>
        <p>Offline location or virtual link</p>
      </div>

      <div class="event_description">
        <h3>Add description</h3>
      </div>

      <div class="event_feedback">
        <h3>Feedback Link:</h3>
      </div>

      <div class="event_option">
        <h3>Event Options</h3>
      </div>

      <div class="event_approval">
        <div class="event_approval_capacity">
          <h3>Require Approval</h3>
          <div class="toggle-wrapper">
            <label class="toggle-label">
              <input type="checkbox" id="require-approval" class="toggle-input" />
              <span class="toggle-slider"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="event_capacity">
        <h3>Capacity</h3>
      </div>

      <div class="create_event_button">
        <h2>Create Event</h2>
      </div>
    </div>
  </div>

  <footer>
    <div id="footer"></div>
  </footer>
</body>
</html>
