<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dalo</title>
    <link rel="stylesheet" href="../public/styles/style.css">
    <link rel="stylesheet" href="../public/styles/form.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="../scripts/toggle-forms.js"></script>
    <script src="../scripts/footer.js"></script>
</head>
<body>
  <div class="landingpage-container">
    <div class="landingpage">
      <div class="landingpage-logo">
        <h1>Dalo</h1>
        <p class="tagline">where every <span class="tagline-event">event</span> becomes an <span class="tagline-experience">experience</span>.</p>
      </div>
      <div class="landingpage-form">

        <div class="form-box" id="login-form">
          <input type="text" placeholder="Username" required/>
          <input type="password" placeholder="Password" required/>
          <button onclick="window.location.href='../views/events.html'">Log in</button>
          <div class="toggle">Don't have an account? <a href="#" id="show-signup">Sign up</a></div>
        </div>
        
        <div class="form-box hidden" id="signup-form">
          <input type="email" placeholder="Email" required/>
          <input type="tel" placeholder="Mobile Number" pattern="[0-9]{11,14}" required/>
          <input type="text" placeholder="Full Name" pattern="[A-Za-z\s]{2,}" required/>
          <input type="text" placeholder="Username" pattern="^[A-Za-z0-9_]{3,15}$" required/>
          <input type="password" placeholder="Password" pattern="{8, 20}" required/>
          <button>Sign up</button>
          <div class="toggle">Already have an account? <a href="#" id="show-login">Log in</a></div>

        </div>
      </div>
    </div>

    <div class="landingpage-bottom-section">
      <div>
        <section class="content fluid">
        </h2>
        <ul aria-hidden="true" style="--count: 22">
          <li style="--i: 0">CREATE THIScreate.</li>
          <li style="--i: 1">customize.</li>
          <li style="--i: 2">schedule.</li>
          <li style="--i: 3">invite.</li>
          <li style="--i: 4">customize.</li>
          <li style="--i: 5">RSVP.</li>
          <li style="--i: 6">collect.</li>
          <li style="--i: 7">ticket.</li>
          <li style="--i: 8">promote.</li>
          <li style="--i: 9">track.</li>
          <li style="--i: 10">remind.</li>
          <li style="--i: 11">check-in.</li>
          <li style="--i: 12">integrate.</li>
          <li style="--i: 13">automate.</li>
          <li style="--i: 14">analyze.</li>
          <li style="--i: 15">collect.</li>
          <li style="--i: 16">export.</li>
          <li style="--i: 17">embed.</li>
          <li style="--i: 18">collaborate.</li>
          <li style="--i: 19">curate.</li>
          <li style="--i: 20">scale.</li>
          <li style="--i: 21">do everything.</li>
        </ul>
      </section>
      <section>
        <h2 class="fluid"></h2>
      </section>
      </div>
    </div>
    <footer>
      <div id="footer"></div>
    </footer>
</body>
</html>