body {
    background: #0075BB1A;
    background-image: radial-gradient(hsla(209, 100%, 47%, 1.00) 5%, transparent 0);
    background-size: 30px 30px;
  }

  body::after {
    content: '';
    position: fixed;
    inset: 0;
    pointer-events: none;
    background: radial-gradient(
      circle at top left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.7) 60%,
      rgba(255, 255, 255, 0.9) 100%
    );
    z-index: -1;
  }

  .folder {
    margin: 300px;
    position: relative;
    width: 300px;
    height: 400px;
    background-color: #ffa500;
    border-radius: 0 30px 30px 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

  .folder::before {
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    width: 150px;
    height: 30px;
    background-color: #ffa500;
    border-top-left-radius: 15px;
    border-top-right-radius: 25px;
  }