@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Vibur&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  font-family: 'Inter', sans-serif;
}

.ul-header {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: gray;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-item:hover {
  color: black;
}

.logo {
  font-size: 2rem;
  font-family: 'Vibur', cursive;
  color: gray;
  margin-right: auto;
  margin-left: -10px;
  transition: color 0.3s;
}

.logo:hover {
    color: black;
}

.nav-item-wrapper {
  display: flex;
  align-items: right;
  gap: 0.5rem;
}

.nav-icon {
  display: inline-flex;
  transition: transform 0.5s ease;
  width: 20px;
  height: 20px;
}

.nav-item:hover .nav-icon {
  transform: rotate(270deg);
}

.nav-text {
  transition: color 0.3s ease;
}

.nav-item:hover .nav-text {
  color: black;
}
