#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999; 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
  
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff; 
  background-image: radial-gradient(hsla(209, 100%, 47%, 1.00) 5%, transparent 0);
  background-size: 30px 30px;
}

#preloader::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: 0; 
  background:
    radial-gradient(circle at 20% 30%, #a3c8e1 0%, transparent 40%),
    radial-gradient(circle at 70% 20%, #f4b0b0 0%, transparent 40%),
    radial-gradient(circle at 30% 80%, #a1e1a1 0%, transparent 40%),
    radial-gradient(circle at 80% 75%, #a1e0d1 0%, transparent 40%),
    radial-gradient(circle at 50% 50%, #e4a1b3 0%, transparent 40%),
    radial-gradient(circle at 10% 90%, #c49bdf 0%, transparent 40%),
    radial-gradient(circle at 90% 10%, #a7a7e1 0%, transparent 40%),
    radial-gradient(circle at 40% 60%, #e4d0a7 0%, transparent 40%),
    radial-gradient(circle at 60% 40%, #a3d6e6 0%, transparent 40%),
    radial-gradient(circle at 25% 75%, #e4a1a1 0%, transparent 40%),
    radial-gradient(circle at 75% 25%, #b3e0a3 0%, transparent 40%);
  background-size: 200% 200%;
  animation: popBG 1s ease-in-out infinite;
  filter: blur(60px);
  opacity: 0.7;
}

@keyframes popBG {

  0%,
  100% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }
}


