<head>
  <link rel="stylesheet" href="../styles/footer.css" />
</head>
<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <h1 class="footer-logo">Dalo</h1>
        <p class="description">where every <span class="tagline-event">event</span> <br> becomes an <span class="tagline-experience">experience</span>.</p>
      </div>
  
      <div class="footer-section">
        <h1 class="footer-heading">FOLLOW US</h1>
        <ul class="footer-links">
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Tiktok</a></li>
          <li><a href="#">X</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h1 class="footer-heading">CONTACT US</h1>
        <p>Dalo Main Office, R2J Bldg., Jhocson St, Sampaloc, Manila, 1008</p>
        <p>(02) 8888 1900</p>
        <p>dalo@info.com</p>
      </div>
    </div>
  
    <div class="footer-bottom">
        &copy; 2025 by Dalo. All rights reserved. Dalo is powered by R2J.
    </div>
  </footer>